body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  filter: brightness(1.5);
}

.ground {
  position: absolute;
  width: 100vw;
  height: 32vh;
  background-color: rgb(245, 245, 245);
  bottom: 0;
}

#enemy {
  position: absolute;
  z-index: 1;
  width: 12vw;
  height: 10vh;
  opacity: 0.2;
  margin-top: 33vh;
  margin-left: 110vw;
}

#player {
  position: absolute;
  opacity: 0.05;
  z-index: 1;
  width: 12vw;
  height: 12vh;
}
